<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/images/favicon.png" sizes="96x96" type="image/png">
  <link rel="stylesheet" href="../static/css/style-desktop.css">
  <script defer src="../static/js/slider.js"></script>
  <title>IC "Repair Design Project"</title>
</head>
<body>
  <section class="projects" id="projects">
        <div class="projects-content">
          <div class="projects-title-area">
            <h2 class="title">Completed<br>projects</h2>
            <p class="projects-text">
              Only a small part of the work performed by our company is presented
              on the site. For 14 years on in the construction
              <br>market we have made happy more than 1000 families
            </p>
          </div>
          <div class="projects-toggle-area"></div>
          <div class="projects-info-area1">
            <h4 class="info-title projects-info-title">City:</h4>
            <p class="projects-info-text"></p>
          </div>
          <div class="projects-info-area2">
            <h4 class="info-title projects-info-title">apartment area:</h4>
            <p class="projects-info-text"></p>
          </div>
          <div class="projects-info-area3">
            <h4 class="info-title projects-info-title">Repair time:</h4>
            <p class="projects-info-text"></p>
          </div>
          <div class="projects-info-area4">
            <h4 class="info-title projects-info-title">Repair Cost:</h4>
            <p class="projects-info-text"></p>
          </div>
          <div class="projects-switch-area"></div>
          <div class="project-image-area"></div>
        </div>
  </section>
</body>
</html>